<h1>Formulário de Usuários</h1>

<div *ngIf="erro">
  <app-alert tipo="danger" mensagem="Falha ao cadastrar"></app-alert>
</div>

<div *ngIf="sucesso">
  <app-alert tipo="success" mensagem="Cadastrado com sucesso"></app-alert>
</div>

<form [formGroup]="formHTML" (ngSubmit)="enviarDados()">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="nome" class="form-control" id="nome" formControlName="nome">
  </div>
  <div class="form-group">
    <label for="login">Login</label>
    <input type="login" class="form-control" id="login" formControlName="login">
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="senha">
  </div>
  <button [disabled]="!formHTML.valid" type="submit" class="btn btn-lg btn-primary btn-block">Salvar</button>
  <hr class="my-4">
</form>

<div class="text-center" *ngIf="spinner">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Aguarde...
</div>

