<h1>Consulta de Tag</h1>
<br>
<h4 class="text-center mb-3">Selecione o período inicial e final</h4>

<div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">
      <dl-date-time-picker
      startView="day"
      maxView="month"
      minView="day"
      [(ngModel)]="from"
      >
      </dl-date-time-picker>
    </div>

    <div class="col-md-4 text-center">
      <dl-date-time-picker
      startView="day"
      maxView="month"
      minView="day"
      [(ngModel)]="to"
      >
      </dl-date-time-picker>
    </div>
</div>


<div class="row d-flex justify-content-center">
  <div class="col-md-3 text-center">
    <button class="btn btn-success  btn-block mb-4" (click)="getTag()">Pesquisar</button>
  </div>
</div>

<div class="mb-4" *ngIf="achou">
  <!-- <input class="form-control" type="text" placeholder="Digite para filtrar" name="search" [(ngModel)]="filter"> -->
</div>

<div *ngIf="achou" class="table-responsive">

  <button type="button" class="btn btn-info mb-3" (click)="exportAsXLSX()">Exportar - XLS</button>

    <table class="table table-bordered table-condensed">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Tag</th>
            <th scope="col">Data Hora</th>
            <th scope="col">Registro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marcacao of marcacoes | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }" >
            <td scope="row">{{ marcacao.valor | tagFormat }}</td>
            <td>{{ marcacao.datahora | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ marcacao.codigo }}</td>
          </tr>
        </tbody>
      </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ul>
    </nav>
  </div>
  <br><br>
